{% extends 'header.html' %}

{% block content %}
<div style='height:100%; display:flex; align-items: center; flex-direction: column;'>
<div class='text-centre'>
    <div class='add-main'>
    <div>
    <h1 class='h1-fonts'>Add An Employee</h1>
    </div>
    <div>
    <form class='flex-centre' action='/add-new/add' method='post' enctype='multipart/form-data'>
        <div >
        <label class='login-text' for='firstname'> First Name: </label>
        <input class='login-box' type='text' id='firstname' name='firstname' required>
        </div>

        <div>
        <label class='login-text' for='lastname'> Last Name: </label>
        <input class='login-box' type='text' id='lastname' name='lastname' required>
        </div>

        <div class='img'>
            <label for='image'> Upload Image</label>
            <input style='margin-left: 4rem;'type="file" name="image" id='image' required>
        </div>
        <div class='messages'>
            {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error'%}
                        <p style="color:red" class="{{ category }}">{{ message }}</p>
                    {% endif%}
                {% endfor %}
        {% endif %}
    {% endwith %}
            </div>
        <input class='login-button' type='submit' value='Add'>
    </form>
</div>
</div>
</div>
<div class='messages'>
    {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
        {% for category, message in messages %}
            {% if category == 'success'%}
            <div class=' message' id='temp'>
                <p style="color:rgb(3, 215, 3);" class="{{ category }}">{{ message }}</p>
            </div>
            {% endif%}
        {% endfor %}
{% endif %}
{% endwith %}
    </div>
</div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const flashMessage = document.getElementById('temp');
            if (flashMessage) {
                setTimeout(() => {
                    flashMessage.style.opacity = '0'; 
                            setTimeout(() => {
                                flashMessage.remove();
                            }, 500);
                }, 3000); 
            }
        });
    </script>
{% endblock %}
