{% extends 'header.html' %}

{% block content %}
<div class='centering attendance-one-main'>
    <div class='border' style='display: flex; height:50%; width:80%; margin-top: 2rem; padding: 2%; background-color: #f3f3f3;'>
        <div style='width: 40%; height:100%;'>
            <img width="100%" height="100%" src="{{url_for('uploaded_file', filename=emp.image_path)}}" />
        </div>
        <div class='centering name-div'>
            <h1 style='font-size: xxx-large'>{{emp.firstname}} {{emp.lastname}}</h1>
        </div>
    </div>
    <div class='edit-main h1-fonts border summary'>
        <h2> Summary </h2>
        <div class='edit-main' style='width:100%; flex-direction: row;  gap: 5%; margin-top: 1rem; align-items:start;'>
            <div class='edit-main border last-10'>
                <h2> Last 10 Days</h2>
                <div class='edit-main' style='width:100%' id='data-target'>

                </div>
            </div>
            <div class='edit-main border last-10'>
                <h2>Statistics</h2>
                    <div class='edit-main border' style='width:70%;'>
                        <h3> This Week: </h3>
                        <div style='margin-left: 3%' id='week'></div>
                    </div>
                    <div class='edit-main border' style='width:70%;'>
                        <h3>This Month: </h3>
                        <div style='margin-left: 1%' id='month'></div>
                    </div>
                    <div class='edit-main border' style='width:70%;'>
                        <h3>This Year: </h3>
                        <div style='margin-left: 1%' id='year'></div>
                    </div>
                    <div class='edit-main border' style='width:70%;'>
                        <h3>All Time: </h3>
                        <div style='margin-left: 1%' id='all'></div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/attendance-one.js')}}"></script>
{% endblock %}