{% extends 'header.html' %}

{% block content %}
<div class='edit-main'>
    <p style="font-family: 'Montserrat', sans-serif; font-size: xx-large">Employee Attendances </p>
    {% if atts %}
    <div class='search-form'>
        <div class='searchbar'>
                <input type='text' style='border: 0; outline: none; flex-grow:1; border-radius: 25px;' name='search' id='search'>
                <input class='form-search-button' type='submit' style='border: 0; border-radius: 25px; height: 2rem; width: 2rem;flex:1;' id='search-button' value='S'>
        </div>
        {% else %}
        <p> No employees added yet </p>
        {% endif %}
    </div>
    <div style='display:flex; flex-direction: column; width:80%; align-items: center;' id='data-target'></div>
</div>
    <script src="{{ url_for('static', filename='js/attendance-data.js') }}"></script>
{% endblock %}
