{% extends 'header.html' %}

{% block content %}
<div class='edit-main'>
    <p style="font-family: 'Montserrat', sans-serif; font-size: xx-large">Employee Attendances </p>
    <div class='search-form'>
        <div class='searchbar'>
            <form action='/edit' style='display: flex; width:100%;' method='GET' enctype="multipart/form-data">
            <input type='text' style='border: 0; outline: none; flex-grow:1; border-radius: 25px;' name='search' id='search' required>
            <input type='submit' style='border: 0; border-radius: 25px; height: 2rem; width: 2rem;flex:1;' value='S'>
        </form>
    </div>
</div>
{% for key, value in atts.items() %}
<div class='row' >
    <p class='part' style="font-family: 'Montserrat', sans-serif;"> {{key}}</p>
    <p class='part' style="font-family: 'Montserrat', sans-serif;"> {{value}} </p>
</div>
{% endfor %}
{% endblock %}
