{% extends 'header.html' %}

{% block content %}
<div class='func-div'>
    <div class='home-title-text'>
        <h2> Face Recognition System</h2>
        <p> Keep track of your employees using this system, which uses a machine learning model to record attendance by employees who only need to look into a camera. </p>
        <p> The model looks through the database and updates the records, where admins store their employees' images</p>
    </div>
    <div data-url='/add-new' onclick="divClicked(event)" class='functions'>
        <p>Add An Employee</p>
    </div>
    <div data-url='/edit' onclick="divClicked(event)" class='functions'>
        <p>Edit/Remove an Employee</p>
    </div >
    <div data-url='/record-attendance' onclick="divClicked(event)" class='functions'>
        <p>Record Attendance</p>
    </div>
</div>
<script>
    function divClicked(event) {
        const target = event.currentTarget;
        const url = target.dataset.url;
        window.location.href = url;
    }
</script>
{% endblock %}
