{% extends 'header.html' %}

{% block content %}
<div class='func-div'>
    <div data-url='/add-new' onclick="divClicked(event)" class='functions'>
        <p>Add An Employee</p>
    </div>
    <div data-url='/edit' onclick="divClicked(event)" class='functions'>
        <p>Edit/Remove an Employee</p>
    </div >
    <div data-url='/record-attendance' onclick="divClicked(event)" class='functions'>
        <p>Record Attendance</p>
    </div>
</div>
<script>
    function divClicked(event) {
        const target = event.currentTarget;
        const url = target.dataset.url;
        window.location.href = url;
    }
</script>
{% endblock %}
