{% extends 'header.html' %}

{% block content %}
<div class='func-div' style='height: 100%'>
    <div class='home-title-text'>
        <h1 style='font-weight: 500;'> Face Recognition System</h1>
        <p style='font-weight: 300; padding-left: 1rem; padding-right: 1rem; width: 75%'> Keep track of your employees using this system, which uses a machine learning model to record attendance by employees who only need to look into a camera. The model looks through the database and updates the records, where admins store their employees' images </p>
    </div>
    <div style='display:flex;height: 40%; gap: 3px;  width:100%; justify-content: center'>
        <div data-url='/add-new' onclick="divClicked(event)" class='functions'>
            <p>Add An Employee</p>
        </div>
        <div data-url='/edit' onclick="divClicked(event)" class='functions'>
            <p>Edit/Remove an Employee</p>
        </div >
        <div data-url='/record-attendance' onclick="divClicked(event)" class='functions'>
            <p>Record Attendance</p>
        </div>
    </div>
</div>
<script>
    function divClicked(event) {
        const target = event.currentTarget;
        const url = target.dataset.url;
        window.location.href = url;
    }
</script>
{% endblock %}
