{% extends 'header.html' %}

{% block content %}

<div class='edit-main'>
    <p style="font-family: 'Montserrat', sans-serif; font-size: xx-large"> List Of Employees </p>
    <div class='search-form'>
        <div class='searchbar'>
            <form action='/edit' style='display: flex; width:100%;' method='GET' enctype="multipart/form-data">
            <input type='text' style='border: 0; outline: none; flex-grow:1; border-radius: 25px;' name='search' id='search' required>
            <input type='submit' style='border: 0; border-radius: 25px; height: 2rem; width: 2rem;flex:1;' value='S'>
        </form>
    </div>
</div>
{% for emp in emps %}
<div class='row' id="{{emp['id']}}">
    <p class='part' style="font-family: 'Montserrat', sans-serif;"> {{emp['firstname']}}</p>
    <p class='part' style="font-family: 'Montserrat', sans-serif;"> {{emp['lastname']}}</p>
    <img src="{{ url_for('uploaded_file', filename=emp.image_path) }}" style='max-width:80px' class='part' alt="Image" width="64" height="50" >
    <div class='part btn-centre'>
        <button class='edit-btn' onclick="window.location.href='/edit/{{emp['id']}}'"> Edit </button>
        <button class='delete-btn' id='delete' onclick="deleteItem({{emp['id']}})"> Delete </button>
    </div>
</div>
{% endfor %}
</div>

<script>
    function deleteItem(emp) {
        const row = document.getElementById(emp)
        row.remove()

        fetch('/edit/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(emp)
        });
    }
</script>

{% endblock %}
