{% extends 'header.html' %}

{% block content %}
<div style='padding: 3rem; display:flex; justify-content:center; align-items: center; height:80%'>
    <div class='record-main'>
        <div id='video-recording' class='edit-main video-main'>
            <div class="edit-main">
                <h1 class='h1-fonts'>Record Attendance</h1>
                <div class='centering' style='flex-direction: column'>
                    <p style="font-family:'Montserrat', sans-serif;"> Choose Input </p>
                    <select style='height: 2rem; border-radius: 5px'id="cameraSelect"></select>
                </div>
            </div>
            <div class='video-div'>
                <video class='video' id="video" autoplay></video>
                <div style='margin-top: 1rem; display: flex; flex-direction: column; gap: 1px;'>
                    <button class='edit-btn' id="start">Start</button>
                    <button class='delete-btn' id="stop" disabled>Stop</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id='message' class='employee-edit' style='margin-top: 0rem;'>
</div>

<script defer src="{{ url_for('static', filename='js/face-api.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/record.js') }}"></script>

{% endblock %}

