{% extends 'header.html' %}

{% block content %}
<div class='text-centre' style='flex-direction: column;'>
<h2>Record Attendance</h2>
</div>
{% if attStart == False%}
<div  class='edit-main'>
<div id='button-div' style='width:60%' class='edit-main'>
    <p>Start the attendance for the day here. The day only counts once the "Stop Attendance" button is pressed
        on the following screen. Once each button is pressed, the action cannot be undone.
    </p>
    <form action='/record-attendance' method='GET' enctype="multipart/form-data">
        <input class='attendance-btn' type='submit' value='Start Attendance' name='rec' id='rec'>
    </form>
</div>
</div>
{% else %}
    <div id='video-recording' class='edit-main'>
    <video class='video' id="video" autoplay></video>
    <div style='margin-top: 1rem'>
        <button class='edit-btn' id="start">Start</button>
        <button class='delete-btn' id="stop" disabled>Stop</button>
    </div>
    <div class='search-form'>
        <form action='/attendance-done' method='POST' enctype="multipart/form-data">
            <input class='attendance-btn' type='submit' value='End Attendance'>
        </form>
    </div>
    </div>
{% endif %}
    <script src="{{ url_for('static', filename='js/record.js') }}"></script>

{% endblock %}

