{% extends 'header.html' %}

{% block content %}
<div class='text-centre' style='margin-top: 0rem;'>
    <p style="font-family: 'Montserrat', sans-serif; font-size: xx-large">Employee Attendances </p>
</div>
<div id='video-recording' class='edit-main' style='flex-direction: row; width: 100%; position: relative;'>
    <div style='left: 50px; position: absolute;'>
        <select id="cameraSelect"></select>
    </div>
    <div class='video-div'>
    <video class='video' id="video" autoplay></video>
    <div style='margin-top: 1rem; display: flex; flex-direction: column; gap: 1px;'>
        <button class='edit-btn' id="start">Start</button>
        <button class='delete-btn' id="stop" disabled>Stop</button>
    </div>
</div>
</div>

<div id='message' class='employee-edit' style='margin-top: 0rem;'>
</div>

<script defer src="{{ url_for('static', filename='js/face-api.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/record.js') }}"></script>

{% endblock %}

